/* Redigera leverantör START */

.row .col:first-child
{
  margin-top: 5%;
}

.card .card-action
{
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.card .card-action a:first-child
{
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

.container .row
{
  float: left;
  width: 100%;
  padding-left: 35%;
}
/* Redigera leverantör END */
