html, body {
    height: 100%;
    background-color: #5A9AD0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

/*** Loginform start ***/

.container .row {
    margin-left: 0;
    margin-right: 0;
}

/* Logotop */
#helens-logga {
    margin-bottom: 3em;
}

/* Input */
.input-field {
    width: 30%;
    margin: 0 auto;
}

/* Input användarnamn/email */
input#email.validate {
    border-bottom: 1px solid white;
    box-shadow: none;
}

/* Input password */
input#password.validate {
    border-bottom: 1px solid white;
    box-shadow: none;
}

/* Loginknapp */
#loginknapp {
    color: #5A9AD0;
    width: 200px;
    height: 50px;
}

/* Wave-effect loginknapp */
.waves-effect.default .waves-ripple {
      background-color: #5A9AD0;
    }

/* Språkknapp */
#languageicon {
    color:white;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

/*** Loginform end ***/
