html, body {
    height: 100%;
    background-color: #39c0eb;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: #39c0eb;
    display: block;
}

/*** Loginform start ***/

.input-field {
    width: 30%;
    margin: 0 auto;
}

/*** Loginform end ***/
