html, body {
    height: 100%;
    background-color: #005B92;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-family: 'Varela Round', sans-serif;
}

.content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.title {
    font-size: 96px;
}

/*Loginformulär*/
#login {
    width: 30%;
    margin: 0 auto;
    text-align: left;
}

/*** Loginform start ***/

/* Logotop */
#helens-logga {
    margin-bottom: 3em;
}



/* Loginknapp */
#loginknapp {
    color: #5A9AD0;
    font-weight: 700;
    width: 200px;
    height: 50px;
}

/* Wave-effect loginknapp */
.waves-effect.default .waves-ripple {
    background-color: #5A9AD0;
}

/* Språkknapp */
#languageicon {
    color:white;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

/*Färg på inputfält-bottom-border*/
.validate {
    border-bottom: 1px solid #b3b3b3 !important;
    box-shadow: none !important;
}

/*Färg på inputfält-text*/
.active {
    color: #b3b3b3 !important;
}

/*Färg på validation meddelande*/
label.error {
    color: #FFFFFF !important;
}

/*** Loginform end ***/
