html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
}



/***Dashboard sidomeny***/

/*Sidomeny*/
.sidebar {
    width: 20%;
    height: 100%;
    float: left;
    margin: 0px auto;
}

/*Sidomeny box*/
.side-nav {
    background-color:#131010;
    width: 280px;
    height: 100%;
    float: left;
    overflow-x: hidden;
}

/*Sidomeny länkar*/
.side-nav.fixed li {
    color: #E9E1E1;
    padding: 0px;
    width: 280px;
}

/*Sidomeny länkar*/
.side-nav.fixed li a {
    color: #E9E1E1;
    display: block;
    font-size: 1rem;
    vertical-align: middle;
    padding: 0px;  
    background-color:#131010;
    -o-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -khtml-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;               
}

/*Sidomeny länkar hover*/
.side-nav.fixed li a:hover, a:active {
    font-weight: 900;
    color: #fff;
    background-color: #423F3F;
    border-left: 5px solid #005B92;
}

/*Logga ut knapp*/
.side-nav.fixed > .loggaut a {
    color: #E9E1E1;
    font-weight: 900;
    width: 100%;
}

/*Sidomeny heading/länkar*/
.side-nav h5 {
    margin-bottom: 2em;
    font-size: inherit;
    width: 100%;
    height: 20px;
    margin-left: 25px;
    color: #E9E1E1;
    text-transform: capitalize;
}

/*Styling nedre länkar i sidomeny*/
.bottomlinks{
    position: fixed;
    bottom: 0px;
}

/*Logotyp*/
.helens-logga {
    width:100%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding-top: 10%;
}

/*Logotyp box*/
.logo-box {
    width:100%;
    height: 100px;
    background-color: #005B92;
}

/*Logotyp box*/
.logo {
    width: 40%;
    height: 40%;
}

/*Materialize ikoner*/
.material-icons {
    margin-right: 20px;
    margin-left: 20px;
    vertical-align: middle;
}

/*** INNEHÅLL***/

/*Innehåll*/
.content {
    width: 80%;
    height: 100%;
    float: left;
    overflow-y : scroll;
    text-align: center;
    margin: 0px auto;
}

/*Innehåll*/

/*** VÄLKOMSTMEDDELANDE ***/
/* Welcome-box styling*/
.welcome-box {
    width: 70%;
    margin: 0 auto;
    border: 4px solid #005B92;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(104,104,104,0.1);
    box-shadow: 10px 10px 5px #888888;;
}

.browser-default {
  margin: 1em auto;

}

/*?*/
.topbar {
    width: 100%;
    height: 50px;
    background-color: #005B92;
    display: block;
}



/*** INPUT FORMULÄR ***/

/*Centrerar input*/
.input-field {
    width: 100%;
    margin: 0 auto;
}

/*Titeltext*/
.title {
    margin: 2rem 0 0 0;
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding-bottom: 3%;
}

/*Formulär för inputfält*/
.inputform {
    width: 30%;
    display: block;
    margin: 2em auto 0 auto;
}

/*Formulär för leverantörer*/
#leveranserform{
    width: 90%;
    display: block;
    margin: 2em auto 0 auto;
}

/*Stylar knappar*/

/*Confirm knapp*/
/*#confirmknapp {
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 2em;
}

#addsupplier{
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 2em;
}*/

/*Lägg till pdf knapp*/
#pdfinput{
    margin: 2em 0em;
}

/*Stylar knappar efter inputfält*/
.btn {
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 1em;
    float: left !important;
}

.btn:hover {
    background-color: #005B92;
}


/*Färg på inputfält-bottom-border*/
.validate{
    border-bottom: 1px solid #b3b3b3 !important;
    box-shadow: none !important;
}

/*Färg på inputfält-text*/
.active{
    color: #b3b3b3 !important;
}

/*CSS för bokningsfomrulär*/

.faded {
    display: none;
}

.order {
    margin-top: 50px;
}
    


.addorder {
    margin-top: 100px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.bookingbtn {
    margin-top: 100px;
}

/*CSS för bokningsfomrulär*/

/*Redigera leverantör*/
.card{
    background-color: #F4F5F5;
    width: 30%;
    text-align: left !important;
    display: inline-block;
    margin: 1em;
    border-top: 5px solid #005B92;
}

.card a {
    color: #000000 !important;
    padding: 6px;
}

.card a:hover {
    background-color: #E2E2E2;
    color: #FFFFFF !important;
}



