html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-weight: 100;
    font-family: 'Comfortaa';
}



/***Dashboard sidomeny***/

/*Sidomeny*/
.sidebar {
    width: 20%;
    height: 100%;
    float: left;
}

/*Sidomeny box*/
.side-nav {
    background-color:#131010;
    min-width: 300px;
    z-index: 0;
    overflow-x: hidden;
}

/*Hover sidomenyknappar*/
ul a:hover, a:active {
    border-left: 5px solid #005B92;
}

/*Logga ut knapp*/
.side-nav.fixed > .loggaut a {
    color: #E9E1E1;
    font-weight: 900;
    width: 100%;
}

/*Sidomeny länkar hover*/
.side-nav.fixed li a:hover, a:active {
    font-weight: 900;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

/*Första sidomeny länken*/
.side-nav.fixed li a:first-child {
    /*margin-top: 5%;*/
}

/*Sidomeny länkar*/
.side-nav.fixed li {
    color: #E9E1E1;
    padding: 0px;
}

/*Sidomeny länkar*/
.side-nav.fixed li a {
    color: #E9E1E1;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0px;
}

/*Sidomeny heading/länkar*/
.side-nav h5 {
    margin-bottom: 2em;
    font-size: inherit;
    width: 100%;
    height: 20px;
    margin-left: 25px;
    color: #E9E1E1;
    /*text-transform: capitalize;*/
}

/*Styling nedre länkar i sidomeny*/
.bottomlinks{
    position: fixed;
    bottom: 0px;
    min-width: 300px;
}

/*Logotyp*/
.helens-logga {
    width:100%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding-top: 10%;
}

/*Logotyp box*/
.logo-box {
    width:100%;
    height: 100px;
    background-color: #005B92;
}

/*Logotyp box*/
.logo {
    width: 40%;
    height: 40%;
}

/*Materialize ikoner*/
.material-icons {
    margin-left: 25px;
    margin-right: 25px;
}

/*** INNEHÅLL***/

/*.container {
}*/

/*Innehåll*/
.content {
    width: 80%;
    height: 100%;
    float: left;
    overflow-y : scroll;
}

/*Innehåll*/

.browser-default {
  margin-top: 10%;
  margin-left: -2%;
}

/*?*/
.topbar {
    width: 100%;
    height: 50px;
    background-color: #005B92;
    display: block;
}



/*** INPUT FORMULÄR ***/

/*Centrerar input*/
.input-field {
    width: 100%;
    margin: 0 auto;
}

/*Titeltext*/
.title {
    margin: 2rem 0 0 0;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

/*Formulär för inputfält*/
.inputform {
    width: 30%;
    display: block;
    margin: 2em auto 0 auto;
}

/*Stylar knappar*/

/*Confirm knapp*/
/*#confirmknapp {
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 2em;
}

#addsupplier{
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 2em;
}*/

/*Lägg till pdf knapp*/
#pdfinput{
    margin: 2em 0em;
}

/*Stylar knappar efter inputfält*/
.btn {
    background-color: #005B92;
    width: auto;
    height: 50px;
    margin-top: 2em;
}

.btn:hover {
    background-color: #005B92;
}

/*Färg på inputfält-bottom-border*/
.validate{
    border-bottom: 1px solid #000000 !important;
    box-shadow: none !important;
}

/*CSS för bokningsfomrulär*/

.faded {
    display: none;
}

.order {
    margin-top: 50px;
}

/*CSS för bokningsfomrulär*/

/*Färg på inputfält-text*/
.active{
    color: #000000 !important;
}
