html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Comfortaa';
}

ul a:hover, a:active {
    border-left: 5px solid #5a9ad0;
}

.side-nav {
    background-color:#131010;
    width: 260px;
    z-index: 0;
    overflow-x: hidden;
}

.input-field:first-child {
  margin-top: 5%;
}

.input-field {
    width: 30%;
    margin: 0 auto;
}

.input-form {
    margin-top: 8%;
}

.browser-default {
  margin-top: 10%;
  margin-left: -2%
}

.side-nav.fixed > .loggaut a {
    color: #E9E1E1;
    font-weight: 900;
    width: 100%;
}

.side-nav.fixed > .loggaut a:hover {
    color: #E9E1E1;
    background-color: #E53A40;
    font-weight: 900;
    width: 100%;
    border-left: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.side-nav.fixed li a:hover, a:active {
    font-weight: 900;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.side-nav.fixed li a
{
    color: #E9E1E1;
    display: block;
    font-size: 1rem;
    height: 64px;
    line-height: 64px;
    padding: 0px;
}

.side-nav.fixed li {
    color: #E9E1E1;
    padding: 0px;
}

.side-nav.fixed li a:first-child {
    margin-top: 5%;
}

.side-nav h5 {
    font-weight: 900;
    font-size: 16px;
    margin-top: 55%;
    width: 100%;
    height: 20px;
    margin-left: 35px;
    color: #E9E1E1;
    text-transform: capitalize;
}

.lang {
    width: 70%;
    margin-left:14%;
    height:64px;
}

.side-nav.fixed > .lang a {
    color: #E9E1E1;
    background-color: #3D3B3B;
    font-weight: 900;
}

.side-nav.fixed > .lang a:hover, a:active {
    font-weight: 900;
    color: #131010;
    background-color: #E9E1E1;
    border-left: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.helens-logga {
    width:100%;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    padding-top: 10%;
}

.logo-box {
    width:100%;
    height: 100px;
    background-color: #005B92;
}

.logo {
    width: 40%;
    height: 40%;
}

.material-icons {
    margin-left: 25px;
    margin-right: 25px;
}

.sidebar {
    position:relative;
}

.container {
    width: 90%;
    overflow-y: auto;
    height: calc(100%);
    text-align: center;
    display: table-cell;
    margin-left: 25%;
    max-width: 900px;
    position: absolute;
}

.content {
    text-align: center;
    display: inline-block;
}



.title {
    font-size: 50px;
}

.topbar {
    width: 100%;
    height: 50px;
    background-color: #5a9ad0;
    display: block;
}

/* knapp */
#confirmknapp {
    background-color: #5A9AD0;
    width: 200px;
    height: 50px;
}
